<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tju.myproject.dao.UserDao">
<!--    <resultMap id="userInfoMap" type="com.tju.myproject.entity.User">-->
<!--        <result column="id" property="id"/>-->
<!--        <result column="university" property="university"/>-->
<!--        <result column="student_id" property="student_id"/>-->
<!--        <result column="name" property="name"/>-->
<!--        <result column="gender" property="gender"/>-->
<!--        <result column="faculty" property="faculty"/>-->
<!--        <result column="phone" property="phone"/>-->
<!--        <result column="id_card" property="id_card"/>-->
<!--        <result column="role" property="role"/>-->
<!--        <result column="join_date" property="join_date"/>-->
<!--        <result column="point" property="point"/>-->
<!--        <result column="isAuth" property="isAuth"/>-->
<!--        <result column="club" property="club"/>-->
<!--    </resultMap>-->
    <insert id="addUser"  useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user
        SET university=#{user.university},
            student_id=#{user.student_id},
            name=#{user.name},
            gender=#{user.gender},
            faculty=#{user.faculty},
            phone=#{user.phone},
            id_card=#{user.id_card},
            role=0,
            join_date=#{user.join_date},
            point=0,
            isAuth=-1,
            club=#{user.club}
    </insert>
    <select id="getUserByPhone" resultMap="userInfoMap">
        SELECT *
        FROM user
        WHERE phone=#{phone}
    </select>

</mapper>